@media only screen and (min-width: 1200px){
   body{
    background-color: grey;
    background-image:url("dragão.png");
    background-repeat: no-repeat;
    background-position: right top;
    }
    h1{
        font-family:Arial;
        color: red;
        text-align: center; 
    }
    h5{
        font-family:Arial;
    }
    h3{
        font-family:Arial;
    }
    h4{
        color: white;
        text-align: left;
        font-family: arial 150px;
        border-bottom: 6px solid red;
        background-color:black;
    }
  
